DEBUG=True
SECRET_KEY=yoursecretkeyhere
DATABASE_URL=postgresql+asyncpg://user:password@localhost/rcia_db
DATABASE_SYNC_URL=postgresql://user:password@localhost/rcia_db
REDIS_URL=redis://localhost:6379/0
